# Application Configuration
PORT=5000
API_PREFIX=api/v1
APP_MODE=development
APP_NAME=Proof Arrive API
APP_DOCS=docs
ALLOWED_ORIGINS=http://localhost:5173

# Database Configuration
NODE_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=proof_arrive
DATABASE_LOGGING=false
